.main-container {
    padding: 50px 50px 30px 50px;
    overflow: hidden;
    height: calc(100vh - 80px);
}

.main-container.no-border {
    padding: 50px 0 30px 0;
}

.right {
    text-align: right;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}

.infos-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .dark-background {
        z-index: 999;
        background-color: black;
        opacity: 0.5;
        height: 100%;
        width: 100%;
        position: relative;
        cursor: pointer;
    }

    .popup-container {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        position: absolute;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 55px 55px 30px 55px;
        margin-bottom: 50px;
        background-color: white;
        color: #233D4D;
        .popup-content {
            margin-bottom: 30px;
        }
        .buttons {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            button {
                padding: 15px;
                margin: 0 5px;
            }
        }
    }
}

.loader-container {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .dark-background {
        background-color: black;
        height: 100%;
        width: 100%;
        opacity: 0.3;
    }
    .loader {
        position: fixed;
        top: calc(50% - 85px);
        left: calc(50% - 85px);
        width: 170px;
        height: 170px;
        overflow: hidden;
        border-radius: 50%;

        img {
            -webkit-transform: scale(1.75);
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}